<main>
  <div class="container">
    <div id="posts">

      <h2>新規登録(仮)</h2>
      <div id="post-error">
        <ul>
          <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      </div>
      <%= form_for(register_url) do %>
        <h3>ユーザー名</h3>
        <input type="text" name="name" value="<%= @user.name %>">
        <h3>メールアドレス</h3>
        <input type="text" name="email" value="<%= @user.email %>">
        <input id="submit-button" type="submit" value="登録">
      <% end %>

    </div>
  </div>
</main>
