<main>
  <div class="container">
    <p class="about-content">
      SimpleChatは、大した機能を持たない、<br>
      チャットアプリのような何かになる予定です。
    </p>
    <p class="about-content">
      そしてこのページには、このアプリについての説明を<br>
      記載するところなのですが、今のところまだ<br>
      特に書く内容がありません。
    </p>
    <p class="about-content">
      なのでとりあえず適当な内容で欄を埋めておきます。
    </p>
  </div>
</main>
