<header>
  <div id="header-logo">
    <h1><%= link_to("SimpleChat ver.1",root_url) %></h1>
  </div>
  <div id="header-menu">
    <ul>
      <li><%= link_to("このアプリについて", "#") %></li>
      <li><%= link_to("ログイン","#") %></li>
    </ul>
  </div>
</header>

<main>
  <div class="container">
    <h2 id="top-eyecatch">単純なチャットアプリのようなもの。</h2>
    <p>
      SimpleChatは、大した機能を持たない、<br>
      チャットアプリのような何かになる予定です。
    </p>
  </div>
</main>

<footer>
  <p>SimpleChat ver.1 made by ha4gu, powered by Ruby on Rails</p>
</footer>
