// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  padding: 40px 0;
  width: 800px;
  margin: 0 auto;
  form {
    padding: 20px;
    text-align: left;
    background-color: white;
    #input-message, #input-author  {
      border: 1px black solid;
    }
    #input-message {
      width: 100%;
      height: 80px;
    }
    #input-author {
      width: 50%;
    }
    #submit-button {
      border: 1px black solid;
      border-radius: 4px;
      margin: 8px;
      padding: 2px 8px;
      background-color: #ccf;
    }
  }
  #post-error {
    width: 80%;
    margin: 8px auto;
    background-color: rgba($color: red, $alpha: 0.4);
    li {
      list-style: none;
    }
  }
}

.post {
  //background-color: #c9c;
  margin-bottom: 20px;
}

.post-content {
  width: 80%;
  border: 4px black solid;
  border-radius: 16px;
  padding: 16px;
  background-color: white;
}

.post-author {
  width: 20%;
}

.post-message {
  hyphens: auto;
  text-align: left;
}

.post-datetime {
  text-align: right;
}

.author-icon {
  height: 64px;
  width: 64px;
}

.others-post {
  overflow: hidden;

  .post-content {
    float: right;
  }
  .post-author {
    float: left;
  }

}

.my-post {
  overflow: hidden;

  .post-content {
    float: left;
  }
  .post-author {
    float: right;
  }

}



