<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChat ver.1</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
